<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>


    <!-- Set specific logging levels for different packages or classes -->
    <logger name="ch.qos.logback" level="WARN" />
    <logger name="io.vertx" level="ERROR" />
    <logger name="io.netty" level="ERROR" />
    <logger name="io.eflamm.dragonrequest" level="DEBUG" />
</configuration>